<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="instagram.css">
</head>

<body class="background">
    <h1>Instagram Demo</h1>
    <button class="button filled">
        <span class="button-state-layer"></span>
        <span class="button-label">Hello World</span>
    </button>
    <div class="feed">
        <article class="card outlined">
            <header>
                <span class="avatar">
                    <img src="./aaron-irizarry.jpg" alt="Tomaso_Profile">
                </span>
                <span>Tomaso The Croc</span>
            </header>
            <section class="card_media">
                <img src="/components/instagram_demo/venue.jpg" alt="Tomaso_Post">
            </section>
            <section class="card_body">
                <div class="action_list">
                    <ul>
                        <li>
                            <button class="button text icon" aria-label="Like" title="Like">
                                <span class="button-state-layer"></span>
                                <span class="button-label">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.5 2.82501C14.76 2.82501 13.09 3.63501 12 4.91501C10.91 3.63501 9.24 2.82501 7.5 2.82501C4.42 2.82501 2 5.24501 2 8.32501C2 12.105 5.4 15.185 10.55 19.865L12 21.175L13.45 19.855C18.6 15.185 22 12.105 22 8.32501C22 5.24501 19.58 2.82501 16.5 2.82501ZM12.1 18.375L12 18.475L11.9 18.375C7.14 14.065 4 11.215 4 8.32501C4 6.32501 5.5 4.82501 7.5 4.82501C9.04 4.82501 10.54 5.81501 11.07 7.18501H12.94C13.46 5.81501 14.96 4.82501 16.5 4.82501C18.5 4.82501 20 6.32501 20 8.32501C20 11.215 16.86 14.065 12.1 18.375Z"
                                            fill="black" />
                                    </svg>
                                </span>
                            </button>
                        </li>
                        <li>
                            <button class="button text icon" aria-label="Comment" title="Comment">
                                <span class="button-state-layer"></span>
                                <span class="button-label">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM20 4V17.17L18.83 16H4V4H20ZM6 12H18V14H6V12ZM6 9H18V11H6V9ZM6 6H18V8H6V6Z"
                                            fill="black" />
                                    </svg>
                                </span>
                            </button>
                        </li>
                        <li>
                            <button class="button text icon" aria-label="Share" title="Share">
                                <span class="button-state-layer"></span>
                                <span class="button-label">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3.51 6.03L11.02 9.25L3.5 8.25L3.51 6.03ZM11.01 14.75L3.5 17.97V15.75L11.01 14.75ZM1.51 3L1.5 10L16.5 12L1.5 14L1.51 21L22.5 12L1.51 3Z"
                                            fill="black" />
                                    </svg>
                                </span>
                            </button>

                        </li>
                        <li>
                            <button class="button text icon" aria-label="Save" title="Save">
                                <span class="button-state-layer"></span>
                                <span class="button-label">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M17 3H7C5.9 3 5 3.9 5 5V21L12 18L19 21V5C19 3.9 18.1 3 17 3ZM17 18L12 15.82L7 18V5H17V18Z"
                                            fill="black" />
                                    </svg>
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </section>
        </article>
        <article class="card outlined">
            <header>
                <span class="avatar">
                    <img src="./adam-connor.jpg" alt="Tomaso_Profile">
                </span>
                <span>Yohanan Ha Hamud</span>
            </header>
            <section class="card_media">
                <img src="/components/instagram_demo/schedule.jpg" alt="Tomaso_Post">
            </section>
            <section class="card_body">
                <div class="action_list">
                    <ul>
                        <li>
                            <button class="button text icon" aria-label="Like" title="Like">
                                <span class="button-state-layer"></span>
                                <span class="button-label">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.5 2.82501C14.76 2.82501 13.09 3.63501 12 4.91501C10.91 3.63501 9.24 2.82501 7.5 2.82501C4.42 2.82501 2 5.24501 2 8.32501C2 12.105 5.4 15.185 10.55 19.865L12 21.175L13.45 19.855C18.6 15.185 22 12.105 22 8.32501C22 5.24501 19.58 2.82501 16.5 2.82501ZM12.1 18.375L12 18.475L11.9 18.375C7.14 14.065 4 11.215 4 8.32501C4 6.32501 5.5 4.82501 7.5 4.82501C9.04 4.82501 10.54 5.81501 11.07 7.18501H12.94C13.46 5.81501 14.96 4.82501 16.5 4.82501C18.5 4.82501 20 6.32501 20 8.32501C20 11.215 16.86 14.065 12.1 18.375Z"
                                            fill="black" />
                                    </svg>
                                </span>
                            </button>
                        </li>
                        <li>
                            <button class="button text icon" aria-label="Comment" title="Comment">
                                <span class="button-state-layer"></span>
                                <span class="button-label">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM20 4V17.17L18.83 16H4V4H20ZM6 12H18V14H6V12ZM6 9H18V11H6V9ZM6 6H18V8H6V6Z"
                                            fill="black" />
                                    </svg>
                                </span>
                            </button>
                        </li>
                        <li>
                            <button class="button text icon" aria-label="Share" title="Share">
                                <span class="button-state-layer"></span>
                                <span class="button-label">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3.51 6.03L11.02 9.25L3.5 8.25L3.51 6.03ZM11.01 14.75L3.5 17.97V15.75L11.01 14.75ZM1.51 3L1.5 10L16.5 12L1.5 14L1.51 21L22.5 12L1.51 3Z"
                                            fill="black" />
                                    </svg>
                                </span>
                            </button>

                        </li>
                        <li>
                            <button class="button text icon" aria-label="Save" title="Save">
                                <span class="button-state-layer"></span>
                                <span class="button-label">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M17 3H7C5.9 3 5 3.9 5 5V21L12 18L19 21V5C19 3.9 18.1 3 17 3ZM17 18L12 15.82L7 18V5H17V18Z"
                                            fill="black" />
                                    </svg>
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </section>
        </article>
        <article class="card outlined">
            <header>
                <span class="avatar">
                    <img src="./tomer_4.jpg" alt="Tomaso_Profile">
                </span>
                <span>Tomaso OG</span>
            </header>
            <section class="card_media">
                <img src="/components/instagram_demo/OREL7690.jpg" alt="Tomaso_Post">
            </section>
            <section class="card_body">
                <h2>Today was a good day, I geuss</h2>
                <p>I was worried, but it past so quickly.
                    Thank you all for your support!
                </p>
                <div class="action_list">
                    <ul>
                        <li>
                            <button class="button text icon" aria-label="Like" title="Like">
                                <span class="button-state-layer"></span>
                                <span class="button-label">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.5 2.82501C14.76 2.82501 13.09 3.63501 12 4.91501C10.91 3.63501 9.24 2.82501 7.5 2.82501C4.42 2.82501 2 5.24501 2 8.32501C2 12.105 5.4 15.185 10.55 19.865L12 21.175L13.45 19.855C18.6 15.185 22 12.105 22 8.32501C22 5.24501 19.58 2.82501 16.5 2.82501ZM12.1 18.375L12 18.475L11.9 18.375C7.14 14.065 4 11.215 4 8.32501C4 6.32501 5.5 4.82501 7.5 4.82501C9.04 4.82501 10.54 5.81501 11.07 7.18501H12.94C13.46 5.81501 14.96 4.82501 16.5 4.82501C18.5 4.82501 20 6.32501 20 8.32501C20 11.215 16.86 14.065 12.1 18.375Z"
                                            fill="black" />
                                    </svg>
                                </span>
                            </button>
                        </li>
                        <li>
                            <button class="button text icon" aria-label="Comment" title="Comment">
                                <span class="button-state-layer"></span>
                                <span class="button-label">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M21.99 4C21.99 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22L21.99 4ZM20 4V17.17L18.83 16H4V4H20ZM6 12H18V14H6V12ZM6 9H18V11H6V9ZM6 6H18V8H6V6Z"
                                            fill="black" />
                                    </svg>
                                </span>
                            </button>
                        </li>
                        <li>
                            <button class="button text icon" aria-label="Share" title="Share">
                                <span class="button-state-layer"></span>
                                <span class="button-label">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3.51 6.03L11.02 9.25L3.5 8.25L3.51 6.03ZM11.01 14.75L3.5 17.97V15.75L11.01 14.75ZM1.51 3L1.5 10L16.5 12L1.5 14L1.51 21L22.5 12L1.51 3Z"
                                            fill="black" />
                                    </svg>
                                </span>
                            </button>

                        </li>
                        <li>
                            <button class="button text icon" aria-label="Save" title="Save">
                                <span class="button-state-layer"></span>
                                <span class="button-label">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M17 3H7C5.9 3 5 3.9 5 5V21L12 18L19 21V5C19 3.9 18.1 3 17 3ZM17 18L12 15.82L7 18V5H17V18Z"
                                            fill="black" />
                                    </svg>
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </section>
        </article>

    </div>
</body>

</html>